/* Variables */
:root {
  /* Colors */
  --primary: #c94513;
  --primary-light: #f3845a;
  --seconday: #faf7f4;
  --gray: #666666;
  --gray-light: #d5d7da;
  --white: #ffffff;
  --black: #181d27;

  /* Font */
  --font-sans-serif: "Inter", sans-serif;
}
/* End Variables*/

/* Base styling & Resets */
* {
  font: 400 1rem var(--font-sans-serif);
  color: var(--black);
}

main {
  min-height: calc(100vh - 80px - 445px);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black);
}
/* End Base styling & Resets */

/* Form */
textarea.form-control {
  resize: none;
  height: 150px;
}
.form-control {
  &:focus {
    border-color: var(--primary);
    box-shadow: none;
  }
}
.btn {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary-light);

  &:hover {
    background-color: var(--primary-light);
    color: var(--white);
  }

  &:active {
    background-color: var(--primary-light) !important;
    color: var(--white) !important;
    border: 1px solid var(--primary-light) !important;
    opacity: 50%;
  }
}
/* End Form */

/* Hero Carousel */
.hero-carousel_slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-carousel_controls {
  transform: translateY(-50%);
  z-index: 999;
  box-sizing: border-box;

  button {
    background: none;
    border: none;
  }
}
/* End Hero Carousel */

/* Course Card */
.course_card {
  border-radius: 12px;
  transition: 0.2s ease-out;
  border: 1px solid var(--gray-light);

  &:hover {
    border: 1px solid var(--primary);
  }

  img {
    border-radius: 7px;
  }

  h5 {
    /* Ellipsis text on 1 line */
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  p {
    /* Ellipsis text on 4 lines */
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
/* End Course Card */

/* Deegree Card */
.course-card {
  border: 1px solid #b64926;
  border-radius: 15px;
  padding: 10px;
  text-align: center;

  span {
    color: #b64926;
    font-size: 4rem;
  }

  p {
    font-size: 18px;
    color: #000;
    margin-bottom: 24px;
  }

  .school-card {
    border: 1px solid #b64926;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

  .btn {
    border: 1px solid #b64926;
    color: #b64926;
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    height: 50px;

    &:hover {
      background-color: #b64926;
      color: #fff;
    }
  }
}
/* End Deegre Card*/

/* Course Details */
.course-title_container {
  background: url("/public/courses/fotografia.png") no-repeat center center;
  margin-left: 50%;
  transform: translateX(-50%);

  h1 {
    padding: 200px 0;
    color: var(--white);
  }
}
.btn.toggle {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);

  &:hover {
    background-color: var(--primary);
    color: var(--white);
  }

  &.active {
    background-color: var(--primary);
    color: var(--white);
  }
}
.study-plan_table {
  width: 100%;
  * {
    border: 1px solid var(--gray-light);
  }

  thead {
    tr {
      th {
        background-color: #d5d7da50;
        padding: 0.5rem;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        --bs-table-bg: #d5d7da25;
      }
      &:nth-child(even) {
        --bs-table-bg: #d5d7da50;
      }

      td {
        padding: 0.5rem;
      }
    }
  }
}
/* End Course Details */

/* Extended Bootstrap Classes */
.fs-7 {
  font-size: 0.875rem;
}
.transition-ease-in-out {
  transition: ease-in-out 0.5s;
}
.highlight {
  color: var(--primary);
}
.tone-deaf {
  color: var(--gray);
}
.w-fit-content {
  width: fit-content;
}
